<h1>Listing ticket_items</h1>

<table>
  <tr>
    <th>Ticket</th>
    <th>Response</th>
    <th>Minutes spent</th>
  </tr>

<% for ticket_item in @ticket_items %>
  <tr>
    <td><%=h ticket_item.ticket_id %></td>
    <td><%=h ticket_item.response %></td>
    <td><%=h ticket_item.minutes_spent %></td>
    <td><%= link_to 'Show', ticket_item %></td>
    <td><%= link_to 'Edit', edit_ticket_item_path(ticket_item) %></td>
    <td><%= link_to 'Destroy', ticket_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ticket_item', new_ticket_item_path %>
