<!-- live search from http://dev.nozav.org/rails_ajax_table.html -->
<% form_tag(tickets_path, { :method => 'get' }) do %>
<table width="100%">
	<tr>
		<td colspan="3"><strong>Search</search> operates on subject, description and AppleCare information.</td>
	</tr>
	<tr>
		<td class="label"><label for="query">Search:</label></td>
		<td class="field"><%= text_field_tag :query, params[:query], :size => 30 %></td>
		<td class="field"><%= image_tag('spinner.gif', :id => 'spinner',
			:align  => 'absmiddle',
			:border => 0,
			:style  => 'display: none;') %></td>
	</tr>
	<tr>
		<td class="label"><label for="status">Status:</label></td>
		<td colspan="2" class="field"><select name="status" id="status">
			<%= options_for_select(Ticket.options_for_status('', ''), params[:status].to_i) %>
		</select></td>
	</tr>
	<tr>
		<td class="label"><label for="requestor">Requestor:</label></td>
		<td colspan="2" class="field"><select name="requestor" id="requestor">
			<%= options_for_select(User.options_for_requestor('', ''), params[:requestor].to_i) %>
		</select></td>
	</tr>
	<tr>
		<td class="label"><label for="assignee">Assignee:</label></td>
		<td colspan="2" class="field"><select name="assignee" id="assignee">
			<%= options_for_select(User.options_for_assignee('', ''), params[:assignee].to_i) %>
		</select></td>
	</tr>
	<tr>
		<td class="label">&nbsp;</td>
		<td colspan="2" class="field"><%= submit_tag 'Search' %></td>
	</tr>	
</table>
<% end %>

